# Environment and sensitive keys
**/.env
**/.env.*
!**/.env.example
**/firebase-credentials.json
!**/firebase-credentials.example.json

# Dependencies
**/node_modules/
**/vendor/

# Build caches & logs
*.log
**/.expo/
**/dist/
**/web-build/
**/public/build/
**/public/storage
**/storage/framework/cache/
**/storage/framework/sessions/
**/storage/framework/views/
scratch/

# OS metadata
.DS_Store
Thumbs.db
